

body{
    background-color:var(--body-bg-color);
    margin: 0;
    padding: 0;
}
:root{
    --body-bg-color: hsl(212, 45%, 89%);
    --card-bg-color: hsl(0, 0%, 100%);
    --title-color: hsl(218, 44%, 22%);
    --paragraph-color: hsl(220, 15%, 55%);
}

.container1{
text-align: center;
margin: 0;

}

.container2{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
    margin: 10em auto auto auto;
    border-radius: 30px;
    text-align: center;
}

.title{
    font-family: 'Red Hat Display';
    font-size: medium;
    color: var( --title-color);
    text-align: center;
    margin-left: 3em;
   margin-right: 3em;
}
.text{
    font-size: small;
    font-family: 'Red Hat Display';
    color: var(--paragraph-color);
   margin-left: 1.5em;
   margin-right: 1.5em;
    margin-top: -1em;
}
.card__img{
width: 90%;
height: 250px;
padding: 10px;
border-radius: 30px;
}
